.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("src/Johannesburg-1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  max-width: 100%;
  height: auto;
}
.logo {
  width: 120px;
  height: 60px;
  margin-top: 2px;
  margin-left: 5px;
}
a {
  color: white;
  text-decoration: none;
}
h6 a {
  color: black;
}
h6 a:hover {
  text-decoration: underline;
  color: grey;
}

nav {
  backdrop-filter: blur(20px);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
nav li {
  display: inline;
  padding: 6px;
  font-size: 18px;
  font-family: "Raleway", serif;
  font-weight: 300;
  font-style: normal;
}
nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 120px;
  font-family: garamond;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  padding-top: 150px;
}

h3 {
  font-family: "Raleway", serif;
  font-weight: 200;
  font-size: 26px;
  text-align: center;
  margin-top: 0;
}

h4 {
  font-family: "Great Vibes", serif;
  line-height: 3;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 50px;
  padding-bottom: 150px;
}

h5 {
  text-align: center;
  font-size: 30px;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
#welcome {
  font-size: 72px;
  font-family: garamond;
  font-weight: 500;
  color: grey;
  text-shadow: 2px 2px 4px rgb(7, 3, 83);
  padding-top: 30px;
}

h6 {
  text-align: center;
  font-size: 34px;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

p {
  line-height: 1.5;
  font-size: 18px;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("src/square-1637459297091-7fe9bc76b745.avif");
  background-size: cover;
  color: white;
  background-position: center;
  position: relative;
  max-width: 100%;
  height: auto;
}

.footer h2 {
  padding-top: 100px;
  padding-bottom: 40px;
  text-align: left;
  font-size: 22px;
  font-weight: 900;
}

.footer p {
  font-weight: 500;
}

.footer ul {
  list-style-type: none;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}
@media (max-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  h3,
  h5 {
    font-size: 20px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }

  h4,
  h6 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    text-align: left;
    padding: 0;
  }
  #welcome {
    font-size: 40px;
    text-align: center;
    padding-bottom: 0;
  }
  .custom {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
  }
}
